/* vietnamese */
@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(http://fonts.gstatic.com/s/inconsolata/v16/BjAYBlHtW3CJxDcjzrnZCL6up8jxqWt8HVA3mDhkV_0.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(http://fonts.gstatic.com/s/inconsolata/v16/BjAYBlHtW3CJxDcjzrnZCCYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(http://fonts.gstatic.com/s/inconsolata/v16/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
body{ margin:0px;padding:0px;font-family:Arial,Helvetica Neue,Helvetica,sans-serif;font-size: 15px;color: #444}
*{box-sizing:border-box;}
.fix-scroll{position: fixed;top: 0px;left: 0px;z-index: 988}
a{cursor: pointer;}
a:hover,a:focus{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}
.center{text-align: center}
body{background: whitesmoke}
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	top: 10px;left: 0px;right: 0px;margin:auto;z-index: 9999999999999999;position: fixed;width: 500px;max-width: 100%;
}
canvas {
	position: absolute;
	top: 0px;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.text {
	line-height: 24px;
}
.alert button{
	background: transparent;
	border: 0px;
	color: #797171;
	font-size: 150%;
	display: inline-block;
	position: absolute;
	right: 9px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	outline: none;
}
.spacing-row-home{
	margin-bottom: 30px;
}

.alert-error {
	background-color: #f2dede;
	border-color: #ebcccc;
	color: #a94442;
}
.alert-success {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
ul.breadcrumb li{list-style: none;}
.white{color:white}
.text{font-size: 16px; text-align: justify;line-height: 28px;}
.clear{clear:both}
.clear10{clear:both;height:10px}
.clear20{clear:both;height:20px}
.clear100{clear:both;height:100px}
.list_ngang li{list-style:none;display:inline-block;float:left;}
.list_doc li{list-style:none;display:block}
a{text-decoration:none;}
.tj{text-align:justify;font-size:14px;line-height:20px;margin-bottom:5px}
.tc{text-align:center}
.w50{width: 50%;float: left;}
.vien_hinh{border:4px solid #fff!important;outline:1px solid #d3d2d2;}
.bo5{border-radius:5px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mt10{margin-top:10px}
.mb{margin-bottom:5px}
.pad2{padding: 2%}
.ngay{font-style:italic;font-size:12px;color:#666;margin-top:5px}
.w1350{max-width:1650px;margin:auto;position:relative;overflow:hidden;width:100%;background: white}
.w1000{max-width:1250px;margin:auto;overflow: hidden}
.w100{width:100%;float:left;}
.hl{color:#ef402c;font-size:18px;font-weight:bold}
.vta{display:-ms-flexbox!important;-ms-flex-pack:center;-ms-flex-align:center;display:-webkit-box!important;-webkit-box-pack:center;-webkit-box-align:center;display:flex!important;flex-direction:column;justify-content:center;}
.tras{
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.header_logo .logo img {
	width:100%;
}
.header_logo .logo{
	width: 100px;
	float: left;
}
.wrapper-menu {
	width: calc(100% - 100px);
	float: left;
	margin-top: 20px;
}

.wrapper-menu li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}
.wrapper-menu li a{
	padding: 5px 10px;
	font-weight: bold;
	color: black;
	text-transform: capitalize;
	font-size: 16px;
}

.header-banner img{
	width: 100%;
}
.header_logo.fix-scroll {
	width: 100%;
	background: white;
}
#service .wrapper-items{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	grid-gap: 20px 20px;
	width: 100%;
}
.line {
	background: #348f50;
	background: -webkit-linear-gradient(to right,#d38633,#348f50);
	background: linear-gradient(to right,#d38633,#348f50);
	height: 4px;
	width: 100%;
}
#service .wrapper-items .item{
	background-color: #f1f1f1;
	border-bottom: 1px solid #00918e;
	border-radius: 5px;
	padding: 30px 10px;
}
#service .wrapper-items .item .title-service{
	font-size: 20px;
	font-weight: 600;
}
#servie .wrapper-items .title-service{
	font-weight: bold;
}
.title-section{
	text-align: center;
	line-height: 80px;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 600;
	color: #00918e;
}
.copy-right{
	 background: #00918e;
	padding: 15px 0;
	color: white;
}
#service .wrapper-items .item .title-service a{
	color: #222;
}
#package-month .wrapper-items,#package-dcom .wrapper-items,#package-sale .wrapper-items{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	grid-gap: 20px 20px;
	width: 100%;
}
.datap{
	margin: 10px;
	border-radius: 40px;
	background: #fff;
	padding: 10px;
	text-align: center;
	position: relative;
	-webkit-box-shadow: 0px 1px 15px 0px rgba(50,50,50,.4);
	-moz-box-shadow: 0px 1px 15px 0px rgba(50,50,50,.4);
	box-shadow: 0px 1px 15px 0px rgba(50,50,50,.4);
}
.datap .name {
	color: #00918e;
	font-size: 16px;
	font-weight: 700;
}
.datap .name a {
	color: #00918e;
	font-size: 16px;
	font-weight: 700;
}
.datap .number {
	font-weight: 400;
}
.datap .number .big {
	color: #00918e;
	font-size: 16px;
	font-weight: 700;
	padding-right: 5px;
}
.datap ul li {
	position: relative;
	padding: 5px 0;
	list-style-type: none;
	border-bottom: 1px solid #e5e5e5;
}
.datap a.signup, .datap .signup {
	margin: 0 auto;
	width: 75%;
	cursor: pointer;
	display: inline-block;
	padding: 7px 10px;
	text-align: center;
	color: #fff;
	background-image: linear-gradient(to right,#138f8d,#0f9995,#09a49d,#05aea5,#02b9ad);
	border: 0;
	font-weight: 500;
	font-size: 15px;
	border-radius: 20px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 1px 10px 0px rgba(50,50,50,.5);
	-moz-box-shadow: 0px 1px 10px 0px rgba(50,50,50,.5);
	box-shadow: 0px 1px 10px 0px rgba(50,50,50,.5);
}
.datap .details {
	width: 85px;
	display: block;
	padding: 3px 10px;
	text-align: center;
	color: #f58d33;
	background-color: #fff;
	border: 1px solid #f58d33;
	font-size: 13px;
	border-radius: 10px;
	margin: auto;
	line-height: 17px;
}
.desc-section{
	width: 100%;
	float: left;
	text-align: center;
	color: #000;
	margin: 0;
	font-weight: 700;
	font-size: 14px;
}
#package-month .w1000,#package-dcom .w1000,#package-sale .w1000{
	padding: 0 20px;
}
.icon_bar_wrap {
	text-align: center;
	width: 100%;
	float: left;
}
.icon_bar {
	font-size: 35px;
	color: #888;
	position: relative;
}
.icon_bar:after, .icon_bar:before {
	position: absolute;
	content: "";
	bottom: 20px;
	width: 100px;
	height: 1px;
	background: #888;
}
.icon_bar:before {
	right: 30px;
}
.icon_bar:after {
	left: 30px;
}

#news-home .wrapper-items{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	grid-gap: 20px 20px;
	width: 100%;
}
#news-home .wrap_title {
	border-bottom: 1px dashed #fff;
	margin-top: 20px;
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 100%;
}
#news-home .wrap_title .block-title {
	float: left;
	padding-right: 34px;
	margin-bottom: 0;
	margin-top: 0;
}
.block-title span {
	background: #00918d;
	color: #fff;
	padding: 0 8px;
	position: relative;
	z-index: 10;
	display: inline-block;
	height: 34px;
	font-size: 15px;
	line-height: 34px;
	font-weight: 600;
}
.block-title:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 34px 34px 0;
	border-color: transparent #ff6a2f transparent transparent;
	content: "";
	position: absolute;
	right: 100%;
	bottom: 0;
	z-index: 1;
	display: none;
}
.block-title span:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 34px 0 0 25px;
	border-color: transparent transparent transparent #00918d;
	content: "";
	position: absolute;
	left: 100%;
	bottom: 0;
	z-index: 1;
}
#news-home .wrap_title .xemthem {
	background: #ff6a2f;
	float: right;
	height: 34px;
	line-height: 34px;
	position: relative;
	padding-right: 10px;
	margin-left: -7px;
	font-size: 15px;
}
#news-home .wrap_title .xemthem a {
	color: #fff;
}
#news-home .wrap_title .xemthem:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 34px 34px 0;
	border-color: transparent #ff6a2f transparent transparent;
	content: "";
	position: absolute;
	right: 100%;
	bottom: 0;
	z-index: 1;
}
.news-box {
	background: rgba(255,255,255,.73);
	position: relative;
	z-index: 1;
	padding: 10px;
	border: 1px solid rgba(255,255,255,.2);
	margin-bottom: 10px !important;
}
.bai_dau_tien {
	overflow: hidden;
	margin-bottom: 15px;
}
.news-left {
	width: 30%;
	float: left;
}
.attachment-thumbnail {
	height: auto;
	width: 100%;
}
.news-right {
	width: 70%;
	float: left;
	padding-left: 15px;
}
.news-right p {
	text-align: left;
}
.cac_bai_con_lai {
	list-style: none;
	text-align: left;
	font-size: 14px;
	margin-bottom: 10px;
}
.cac_bai_con_lai:before {
	content: "â—";
	margin-right: 10px;
	top: 0;
	left: 0;
	color: #00918d;
}
.cac_bai_con_lai a {
	color: #222;
}
#news-home{
background:whitesmoke;
}
#footer .wrapper-items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	grid-gap: 20px 20px;
	width: 100%;
}
.footer-widget-top h4 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0;
	padding-bottom: 10px;
	color: #000;
	position: relative;
}
.footer-widget-top h4:after {
	content: "";
	width: 60px;
	height: 3px;
	background-color: #00918e;
	position: absolute;
	left: 0;
	bottom: 0;
}
.footer-widget-container {
	padding: 5px 0;
}
.footer-widget-container p {
	margin: 7px 0;
	padding: 0;
}
#footer{
	padding: 15px 0;
}
#footer .textwidget ul li {
	list-style: none;
	position: relative;
}
#footer .textwidget ul li a {
	display: block;
	padding: 5px 0;
	margin-left: 20px;
	font-weight: 400;
	color: #222;
}
#footer .textwidget ul li:after {
	content: "\f14a";
	color: #00918e;
	font-family: 'Font Awesome 5 Free';
	position: absolute;
	left: 0;
	top: 6px;
	font-size: 15px;
}
p.post-meta span {
	display: inline-block;
	margin-right: 10px;
}
.page-content p.post-meta {
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.page-content p.post-meta span {
	margin-right: 15px;
}
.page-content p.post-meta span {
	margin-right: 15px;
}
.page-content p.post-meta span {
	margin-right: 15px;
}
p.post-meta a {
	color: #888;
}
.page-breadcrumb.bread-crumb {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.page-breadcrumb.bread-crumb li{
	display: inline-block;
	vertical-align: middle;
}

.page-breadcrumb.bread-crumb li a{
	color: #444;
}
.page-breadcrumb.bread-crumb li:last-child{
	font-weight: bold;
}
.title-page{
	color: black;
	font-size: 21px;
	margin: 15px 0;
	font-weight: 700;
	line-height: 26px;
}
.wrapper-content-post p{
	text-align: justify;
}
.wrapper-content-post h2{
	font-size: 16px;
}
.wrapper-content-post ul,.wrapper-content-post li{
	margin: 0px ;
	padding: 0px ;
}
.wrapper-content-post ul {
	padding-left: 20px;
}
.page-content{
	background: whitesmoke;
}
.page-content .w1000{
	padding: 20px;
	background: white;
}
blockquote {
	box-shadow: 2px 2px 13px #eee;
	border: 1px solid #e5e5e5;
	border-left: 4px solid #d78531;
	padding: 18px 25px 18px;
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	margin-top: 8px;
	margin-bottom: 10px;
}
.page-content h1,.page-content h2,.page-content h3,.page-content h4,.page-content h5,.page-content h6,.page-content .h1,.page-content .h2,.page-content .h3, .page-content .h4,.page-content .h5,.page-content .h6{
	line-height: 1.5;
}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
	color: #fff;
	background-color: #398439;
	border-color: #255625;
}
.entry .btn {
	display: inline-flex;
	align-items: center;
	box-shadow: 0px 17px 10px -10px rgba(0,0,0,.4);
	border-radius: 5px;
	padding: 7px 10px;
	background-image: linear-gradient(to right,#138f8d,#0f9995,#09a49d,#05aea5,#02b9ad);
	color: #fff;
	text-decoration: none;
	transition: background .3s,transform .3s,box-shadow .3s;
	will-change: transform;
}
.entry .btn-success:before, .entry .btn-success:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,.4);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	opacity: 0;
	margin: auto;
}
@keyframes pulse {
	0% {
		transform: scale(0);
		opacity: 0
	}

	33% {
		transform: scale(1);
		opacity: 1
	}

	100% {
		transform: scale(3);
		opacity: 0
	}
}

.entry .btn-success:before {
	animation: pulse 1.5s infinite linear;
}
.entry .btn-success:after {
	animation: pulse 2s .4s infinite linear;
}
.entry .btn-success {
	position: relative;
}
.entry .btn {
	display: inline-flex;
	align-items: center;
	box-shadow: 0px 17px 10px -10px rgba(0,0,0,.4);
	border-radius: 5px;
	padding: 7px 10px;
	background-image: linear-gradient(to right,#138f8d,#0f9995,#09a49d,#05aea5,#02b9ad);
	color: #fff;
	text-decoration: none;
	transition: background .3s,transform .3s,box-shadow .3s;
	will-change: transform;
}
.entry .btn:hover {
	background: #d58530;
	box-shadow: 0 4px 17px rgba(0,0,0,.2);
	transform: translate3d(0,-2px,0);
}
.entry .btn:active {
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	transform: translate3d(0,1px,0);
}
.block-package-sale{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	grid-gap: 20px 20px;
	width: 100%;
}
.datap .new {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 50px;
	z-index: 9;
}
.entry table tbody td {
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #eee;
}
#topcontrol {
	z-index: 999;
	background: #d58530;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 24px;
	position: fixed;
	bottom: -100px;
	right: 10px;
	cursor: pointer;
	overflow: auto;
	opacity: .7;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#topcontrol:before {
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
}
#menu-button span {
	width: 100%;
	margin-bottom: 5px;
	height: 3px;
	background: black;
	display: block;
}
.header-menu-mobile{
	display: none;
}
.datap a.signup, .datap .signup {
	margin-top: 10px;
}
@media screen and (max-width: 650px){
	#package-month .w1000, #package-dcom .w1000, #package-sale .w1000{
		padding: 0 10px;
	}
	#package-month .wrapper-items, #package-dcom .wrapper-items, #package-sale .wrapper-items{
		grid-gap: 5px 5px;
	}
	.datap {
		margin: 0px;
		border-radius: 10px;
		-webkit-box-shadow: 0px 1px 7px 0px rgba(50,50,50,.4);
		-moz-box-shadow: 0px 1px 7px 0px rgba(50,50,50,.4);
		box-shadow: 0px 1px 7px 0px rgba(50,50,50,.4);
	}
	.header-menu-mobile{
		display: block;
	}
	.wrapper-menu{
		display: none;
	}
	#package-month .wrapper-items, #package-dcom .wrapper-items, #package-sale .wrapper-items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
		grid-gap: 15px 15px;
		width: 100%;
	}
	.datap{
		border-radius: 20px;
	}
	#news-home .wrapper-items{
		grid-template-columns: repeat(1, 1fr);
	}
	#footer .wrapper-items {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 414px){
	#service .wrapper-items{
		grid-template-columns: repeat(1, 1fr);
	}
	#footer .wrapper-items {
		grid-template-columns: repeat(1, 1fr);
	}

}